
table {
    width: 50%;
    margin: 20px auto;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.img-desafios{
    width: 350px;
    height: 200px;
}

.imgdesafio1{
    width: auto;
    border: none;
}
img.clicked {
    border: 10px solid red;
}
#headar{
    text-align: center;
}
#select-sticker{
    display: flex;
    align-items: center;
    justify-content: center;

    
}
#imgsticker{
    height: 300px;
    width: 300px;
}
#inputsticker1, #inputsticker2, #inputsticker3{
    width: 80%;
    text-align: center;
}
#contadorsticker{
    text-align: center;
    font-weight: 500;
}



